.bg-gradient-uf-info {
  background: transparent linear-gradient(180deg, #aacde0, #2171a1) 0 0
    no-repeat padding-box;
}
.list-group-item {
  border: 0px solid #e9ecef !important;
}
.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between !important;
}
.justify-content-end {
  justify-content: end !important;
}
.align-item-center {
  align-items: center;
}

.box-shadow {
  box-shadow: 0 8px 26px -4px hsla(0, 0%, 8%, 0.15),
    0 8px 9px -5px hsla(0, 0%, 8%, 0.06) !important;
}

.border-1 {
  border-radius: 1rem !important;
}

.search-content {
  border: 0px !important;
}
.alert-warning {
  color: #664d03 !important;
  background-color: #fff3cd !important;
  border-color: #ffe69c !important;
  --bs-alert-link-color: #664d03 !important;
}

.icon-sidebar {
  min-width: 2.25rem;
  font-size: 0.9375rem;
  line-height: 1.5rem;
}

.breadcrumb {
  margin: 0 !important;
}
